.tiptap {
  color: var(--color-font-2);
  font-size: 13px;
  font-weight: 500;
  caret-color: var(--color-spice);
  padding: 0 1rem;
  line-height: 18px;

  --list-padding-left: 2rem;
  --list-line-height: 18px;

  &::selection,
  & *::selection {
    background-color: var(--color-spice-alpha-3);
  }
}

.tiptap:focus {
  outline: none;
}

.tiptap :first-child {
  margin-top: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-font-3);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap ul,
.tiptap ol {
  margin: 4px 0;
  padding-inline-start: var(--list-padding-left);
  line-height: var(--list-line-height);
}

::marker {
  color: var(--color-spice);
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  /* margin-top: 0.8em;
  margin-bottom: 0.25em; */
  text-wrap: pretty;
  color: var(--color-font-1);
}

.tiptap h1 {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.tiptap h2 {
  font-size: 1.35rem;
  margin-top: 1.35rem;
  margin-bottom: 0.675rem;
}

.tiptap h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
}

.tiptap h4 {
  font-size: 1.1rem;
  margin-top: 1.1rem;
  margin-bottom: 0.55rem;
}

.tiptap h5,
.tiptap h6 {
  font-size: 1em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.tiptap code {
  font-family: monospace;
  background-color: var(--color-spice-alpha-3);
  border-radius: 4px;
  font-size: .95rem;
  padding: 0 .2em;
}

.tiptap pre {
  background: var(--color-spice-alpha-3);
  border: 1px solid var(--color-spice-alpha-3);
  border-radius: 8px;
  margin: 0.25rem 0;
  /* same to blockquote */
  padding: .25rem 0.75rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid var(--color-spice-alpha-2);
  margin: 0.25rem 0;
  padding-left: 0.5rem;
}

.tiptap hr {
  border: none;
  border-top: 1px solid var(--color-font-4);
  margin: 0.7rem 0;
}

.tiptap a {
  color: var(--color-spice);
  text-decoration: none;
  text-decoration-color: var(--color-spice-alpha-2);
}

ul[data-type="taskList"] {
  list-style: none;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

ul[data-type="taskList"] li > label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul[data-type="taskList"] li > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

ul[data-type="taskList"] li > label {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--list-padding-left));
  width: var(--list-padding-left);
  height: var(--list-line-height);
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;
}

ul[data-type="taskList"] li > label span {
  --size: 1rem;

  position: relative;
  display: block;
  height: var(--size);
  width: var(--size);
  background-color: var(--color-spice-alpha-3);
  border: 1px solid var(--color-spice-alpha-2);
  transition: background-color 0.25s ease;
  border-radius: 4px;
  margin-left: calc(var(--list-padding-left) - var(--size) - 0.5rem);
}

ul[data-type="taskList"] input:checked ~ span {
  background-color: var(--color-spice-alpha-2);
}

ul[data-type="taskList"] input:checked ~ span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(1rem / 4);
  height: 70%;
  border: solid var(--color-spice);
  border-width: 0 2px 2px 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: opacity 0.25s ease;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  overflow: hidden;
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  text-decoration: line-through;
  color: var(--color-font-3);
}

.tiptap-image {
  max-width: 100%;
  -webkit-user-drag: none;
}
